* {
    background-image: url("/zimlogo.png");
    background-size: cover;
    background-color: black;
    z-index: 1;
}

.wrapper {
    display: block;
    justify-content: center;
}
.registration {
    display: flex;
    justify-content: center;
}
.main-appdiv {
}
.imagediv {
    border: black solid 3px;
    border-radius: 20px;
    position: relative;
    float: right;
}
