* {
    background-color: #4191f4;

    margin: 0;
}
html,
main,
body {
    height: 100%;
    width: 100%;
}

.wrapper {
    width: 100%;
    display: block;
    height: 100%;
}

.registration {
    margin-top: 50px;
    display: inline-block;
    justify-content: center;
    height: 300px;
    width: 100%;
}
.main-appdiv {
    height: 100%;
}
.imagediv {
    border: black solid 3px;
    position: relative;
    float: right;
}
.imagediv2 {
    display: inline-block;
    float: right;
}
.propic2 {
    transition: 3s;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    border: black 4px solid;
    position: relative;
    float: left;
}
.propic2:hover {
    width: 100px;
    height: 100px;
}
.propic:hover {
    width: 100px;
    height: 100px;
}
.propic {
    transition: 3s;
    position: relative;
    border: white 2px solid;
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}
.propic3:hover {
    width: 100px;
    height: 100px;
}
.propic3 {
    transition: 3s;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border: white 2px solid;
    border-radius: 5px;
}
.uploaderPopup {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
}
.loader-innerdiv {
    height: 100px;
    border: black solid 2px;
}
.profileBox {
    border: 2px solid SkyBlue;
    width: 500px;
    height: 300px;
}
.profilediv-main {
    display: block;

    height: 200px;
    width: 100%;
}
.profileInfo {
    margin: 10px;

    text-shadow: black 4px 4px;
    font-size: 30px;
    color: white;
    font-style: italic;
    display: block;
    height: 300px;
}
textarea {
    position: relative;
    height: 200px;
    width: 200px;
    align-self: center;
}
.profilediv {
    display: inline-block;
    width: 100%;
}

.otherprofile {
    width: 100%;
    color: white;
    font-size: 20px;
    text-shadow: black 4px 4px;
    display: block;
    align-content: center;
    border: dotted 2px black;
}
.image3-div {
    display: flex;
    align-content: flex-start;
    margin-top: 20px;
    margin-bottom: 30px;
    height: 200px;
    width: 100%;
}
.bio-div {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 200px;
    width: 350px;
    border: black solid 4px;
}
.friendButton {
    width: 70px;
    height: 70px;
    background-color: silver;
}
.reg-div {
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.input {
    border-radius: 15px;
    width: 200px;
    background-color: silver;
}

.logo {
    animation-name: backgroundchange;
    animation-duration: 5s;
    border-bottom: solid silver 2px;
    text-shadow: grey 4px 4px;
    background-color: black;
    width: 100%;
    color: white;
    font-size: 50px;
    float: left;
    display: block;

    justify-content: center;
}
.button {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 50px;
}
.images:hover {
    width: 100px;
    height: 100px;
}
.images {
    transition: 3s;
    margin-right: 5px;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    border: white solid 2px;
}
.Acceptedfriends-div {
    font-size: 25px;
    font-weight: bold;
    text-shadow: black 2px 2px;
    color: white;
    width: 100%;
    display: inline-flex;
    border: solid black 4px;
}

.requestslist-div {
    display: inline-flex;
    font-size: 25px;
    font-weight: bold;
    text-shadow: black 2px 2px;
    color: white;
    width: 100%;
    border: solid white 4px;
}
.login {
    height: 100%;
    display: block;
    border: white solid 2px;
}
.onlineUsers-div {
    display: inline;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: black 4px 4px;
    width: 100%;
}
.chats {
    border-radius: 10px;
    margin: 100px;
    width: 40%;
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-shadow: black 2px 2px;
    color: yellow;
    border: black solid 2px;
}
@keyframes backgroundchange {
    from {
        background-color: grey;
    }
    to {
        background-color: blue;
    }
}
