* {
    background-color: #4191f4;

    margin: 0;
}
html,
main,
body {
    height: 100%;
    width: 100%;
}

.wrapper {
    display: block;
    height: 100%;
}

.registration {
    display: block;
    align-content: center;
    height: 300px;
    width: 100%;
}
.main-appdiv {
    height: 100%;
}
.imagediv {
    border: black solid 3px;
    position: relative;
    float: right;
}
.imagediv2 {
    display: inline-block;
}
.propic2 {
    border-radius: 100px;
    width: 200px;
    height: 200px;
    border: black 4px solid;
    position: relative;
    float: left;
}
.propic {
    position: relative;
    float: right;
    border: white 2px solid;
    width: 100px;
    height: 100px;
}
.propic3 {
    width: 150px;
    height: 150px;
    border: white 2px solid;
    border-radius: 5px;
}
.uploaderPopup {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
}
.loader-innerdiv {
    height: 100px;
    border: black solid 2px;
}
.profileBox {
    border: 2px solid SkyBlue;
    width: 500px;
    height: 300px;
}
.profilediv-main {
    display: block;

    height: 200px;
    width: 100%;
}
.profileInfo {
    height: 100px;
}
textarea {
    position: relative;
    height: 200px;
    width: 200px;
    align-self: center;
}
.profilediv {
    display: inline-block;
    width: 100%;
}
.otherprofile {
    width: 300px;
    display: block;
    border: dotted 2px black;
}
.friendButton {
    width: 70px;
    height: 70px;
    background-color: silver;
}
